@import url();

:root {
    font-family: 'IBM Plex Sans';
}

body {
    min-height: 100vh;
    width: 100vw;

    background-color: rgba(240, 240, 240, 1);

    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    color: white;
    background-color: rgba(45, 140, 255, 1);
    text-align: center;

    padding: 0.5rem;
    margin: 0;
}

h1 {
    margin: 0.5rem;
}

main {
    overflow: auto
}

.main-window {
    padding: 1rem;
    margin: 0;

    display: flex;
    flex-direction: column;

    max-height: calc(100vh - 9.625rem - 2rem)
}

.window {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);

    padding: 1rem;
    margin: 1rem;
;
    max-width: 100%;
    min-height: 50%;
    max-height: calc(100% - 4rem);

    overflow: hidden
}

@media only screen and (min-width: 800px) {
    .main-window {
        flex-direction: row;
    }

    .window {
        max-height: calc(100% - 4rem);
        width: 50%;
    }
}

.preview-window {
    display: none;
    overflow: scroll;
    max-height: 80%;
}

.window div {
    padding: 0.5rem;
}

.window-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.drag-and-drop {
    display: inline-block;
}

.input-file input {
    margin-left: 0.5rem;
}

.options {
    display: none;

}

.form-input {
    margin: 0;
    padding: 0;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
    border-color: lightgray
}

td.blank {
    background-color: lightgray
    /* border-color: lightgray */
}

/*
.download-button {
    display: none;
}
*/

textarea {
    width: 100%;
}

input {
    margin: 0;
    padding: 0;
}

input[type="checkbox"] {
    height: 1.3rem;
}

.window.alert {
    background-color: rgba(255, 235, 180, 1)
}

footer {
    color: white;
    background-color: rgba(45, 140, 255, 1);
    text-align: center;

    padding: 0.5rem;
    margin: 0;
}

footer p {
    margin: 0.5rem;
}

footer i {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:visited {
    text-decoration: none;
    color: white;
}