<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zoom Chat to CSV</title>
    <link rel="stylesheet" href="../static/main.css">
    <!-- For pulling custom font from Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans"
      rel="stylesheet">
    <!-- For pulling icons from FontAwesome -->
    <link 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
      rel="stylesheet"  type='text/css'>
  </head>
  <body>
    <header>
      <h1>Zoom Chat to CSV</h1>
    </header>
    <main class="main-window">
      <noscript>
        <div class="window alert">
          <p><i class="fa-solid fa-triangle-exclamation"></i> This tool requires JavaScript to work! Please enable it on your web browser, or use the local version of the tool, which is available here.</p>
        </div>
      </noscript>
      <div class="window">
        <div class="window-header">
          <h2>Options</h2>
        </div>
        
        <div class="drag-and-drop">
          <p>File:
            <form enctype="multipart/form-data"><input type="file" id="upload-file" name="filename" accept=".txt"></span>
          </p>
        </div>
        <div class="usernames">
          <form>
            <input type="checkbox" id="extract-usernames" value="extract-usernames" onclick="toggleOptions('usernames')">
            <label for="extract-usernames">Username extraction</label>
          </form>
          <div class="options" id="usernames-options">
            <p>Delimiters:</p>
            <form id="delimiters-form">
              <div class="form-input">
                <input type="radio" name="delim-type" id="username-delim-parenthesis" value="parenthesis">
                <label for="parenthesis">Parentheses: ()</label>
              </div>
              <div class="form-input">
                <input type="radio" name="delim-type" id="username-delim-brackets" value="brackets">
                <label for="parenthesis">Brackets: []</label>
              </div>
              <div class="form-input">
                <input type="radio" name="delim-type" id="username-delim-custom" value="custom">
                <label for="parenthesis">Custom (space separated):</label>
                <input type="text" id="username-delim" placeholder='i.e., "() [] <>"'>
              </div>
              <button id="options-apply">Apply</button>
            </form>
          </div>
        </div>
        <div class="participation">
          <form>
            <input type="checkbox" id="track-participation" value="track-participation" onclick="toggleOptions('participation')">
            <label for="track-participation">Participation tracking</label>
          </form>
          <div class="options" id="participation-options">
            <p>Enter participation windows:</p>
            <form>
              <div class="form-input" id="participation-windows">
                <textarea rows="10"></textarea>
              </div>
              <button id="participation-apply">Apply</button>
            </form>
          </div>
        </div>
      </div>
      <div class="window">
        <div class="window-header">
          <h2>Preview</h2>
          <button class="download-button"><i class="fa-solid fa-download"></i></button>
          <p id="text-feedback"></p>
        </div>
        
      </div>
    </main>
    <footer>
      <p>developed by spibble!</p>
      <p><a href="https://github.com/spibble/zoom-chat-to-csv"><i class="fa-brands fa-github"></i> view source code</a></p>
    </footer>
    <script src="../static/ts/index.js"></script>
  </body>
</html>